*.egg-info
*.pyc
*.pyo
.cache
.coverage
.installed.cfg
.mr.developer.cfg
.pytest_cache
.tox
bin
build
coverage-report
develop-eggs
dist
doc/_api
eggs
lib/
local.cfg
parts
pip-selfcheck.json
pyvenv.cfg
