include .coveragerc
include pytest.ini
include tox.ini

include *.yaml
exclude *.yaml

recursive-include src *.dtml
recursive-include src *.html
recursive-include src *.pt
recursive-include src *.txt
recursive-include src *.xpt
